PORT=5000

NEWS_API_KEY=

LLM_URL=http://localhost:11434/api/generate
LLM_MODEL=openai/gpt-oss-20b
GROQ_API_KEY=

MAX_EVENTS=100
LLM_TIMEOUT=300000
LLM_BATCH_SIZE=2

REDIS_HOST=127.0.0.1
REDIS_PORT=6379